ul{
    display: flex;
    padding: 5px;
    align-items: center;
    justify-content: space-around;
    border: 2px solid black;
    border-radius: 5px;

}
ul li {
    list-style: none;
    cursor: pointer;
}
button{
    background: white;
    border: 2px solid black;
    margin: 10px;
}